{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": [
          "last 2 versions",
          "IE 11"
        ]
      }
    }]
  ]
//  "plugins": [
//  "@babel/transform-runtime",
//  "@babel/transform-async-to-generator"
//  ]
}
